[Unit]
Description=shirokumacafe
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/shirokumacafe
ExecStart=/usr/local/bin/pipenv run python shirokumacafe.py
